<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task Deletion</title>
	<link rel="icon" href="/image/task-icon.png" type="iamge/png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<header> 
		Task Management System 
	</header>

	<form method="post" th:action="@{/task-management/delete}" class="main">
		<div class="task-delete-container">
			<div class="task-delete-box">
				<div class="question-text-box">
					<p>Are you sure to delete this task "[[${task.title}]]"?</p>
				</div>

				<input type="hidden" th:name="id" th:value="${task.id}" />

				<div>
					<button type="submit">Yes, Delete</button>
					<a class="back-button" th:href="@{/dashboard}">Cancel</a>
				</div>
			</div>
		</div>
	</form>
    <script th:src="@{/javascript/index.js}"></script>
</body>
</html>